@using System.Globalization
@using Microsoft.CodeAnalysis.Scripting
@model MovieNight.Models.ViewModels.SuggestionVoteVM

@{
    ViewData["Title"] = "Voting";
}

<h1>Suggestions for @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName((DateTime.Today.Month + 1))</h1>
<h3 class="mb-5 mt-2">You have cast @Model.castVotes of 3 votes.</h3>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<div class="row">
  
    @foreach (var item in Model.suggestionvote)
    {
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex align-items-stretch mt-1 mb-5">
            <div class="card">
                <img class="card-img-top lead-image" src="@Url.Content(item.Key.Movie?.PosterUrl)" 
                     alt="@item.Key.Movie.Title Poster" />
                <div class="card-body h-100">
                    <h5 class="card-title">@item.Key.Movie.Title</h5>
                    <h6>Suggested by: @item.Key.User?.firstName</h6>
                    <p class="card-text">@item.Key.Movie.Plot</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Runtime: @item.Key.Movie.Runtime</li>
                    <li class="list-group-item">Genre: @item.Key.Movie.Genre</li>
                    <li class="list-group-item">Released: @item.Key.Movie.ReleaseYear</li>
                    <li class="list-group-item">IMDb: @item.Key.Movie.ImdbRating/10 | MetaCritic: @item.Key.Movie.MetaScore/100</li>
                </ul>
                <div class="card-body">
                    <p>
                        <a href="https://imdb.com/title/@item.Key.Movie.ImdbId/" target="_blank" class="card-link">Show on IMDb</a>
                    </p>
                    
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-primary" asp-controller="Voting" asp-action="Vote" asp-route-itemid="@item.Key.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                            &nbsp;Vote
                        </a>
    
                        <span class="voteborder" rel="tooltip" data-toggle="tooltip" data-bs-placement="top" title="@String.Join(", ", item.Value.Select(x => x.User.firstName))">
                            @item.Value.Count
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-heart" viewBox="0 0 16 16">
                                <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
                            </svg>
                        </span>
                    </div>
                    
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
